<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.birt.report.engine.dataExtraction">
      <dataExtraction
            class="org.eclipse.birt.report.engine.dataextraction.mongodb.MongoDataExtractionImpl"
            format="json"
            id="org.eclipse.birt.report.engine.dataextraction.mongodb.export"
            mimeType="application/json"
            name="export">
      </dataExtraction>
   </extension>

</plugin>
